<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>304638760651-ib50mse1ghlj3u5htff6954n0ogi2ld1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.304638760651-ib50mse1ghlj3u5htff6954n0ogi2ld1</string>
	<key>API_KEY</key>
	<string>AIzaSyDM4DD0OJUhni4XXkapCLtak9RJw3x1C9s</string>
	<key>GCM_SENDER_ID</key>
	<string>304638760651</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gafu.blockpuzzle.wood</string>
	<key>PROJECT_ID</key>
	<string>wood-block-puzzle-b1949</string>
	<key>STORAGE_BUCKET</key>
	<string>wood-block-puzzle-b1949.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:304638760651:ios:a8fe79b41c13ab675bad4e</string>
	<key>DATABASE_URL</key>
	<string>https://wood-block-puzzle-b1949-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>